Repository thu-ml/tianshou: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, mypy

ruff:
  name: ruff
  entry: ruff
  args:
  - --extend-fixable=F401,F841
  - --fix-only
  require_serial: true
  language: system

black:
  name: black
  entry: black
  require_serial: true
  language: system

mypy:
  name: mypy
  entry: mypy
  pass_filenames: false
  language: system

updates in collector
  tianshou/data/collector.py
Due: ruff, black, mypy

updates in data init
  tianshou/data/__init__.py
Due: ruff, black, mypy

base trainer logs info and has own method for smoothing loss values
  tianshou/trainer/base.py
Due: ruff, black, mypy

update on gather_info
  tianshou/trainer/utils.py
Due: ruff, black, mypy

policy updates
  tianshou/policy/base.py
  tianshou/policy/imitation/discrete_cql.py
  tianshou/policy/imitation/discrete_crr.py
  tianshou/policy/imitation/gail.py
  tianshou/policy/modelbased/icm.py
  tianshou/policy/modelfree/a2c.py
  tianshou/policy/modelfree/npg.py
  tianshou/policy/modelfree/pg.py
  tianshou/policy/modelfree/ppo.py
  tianshou/policy/modelfree/trpo.py
Due: ruff, black, mypy

test updates
  test/continuous/test_td3.py
  test/offline/test_cql.py
Due: ruff, black

actually return returns and episode length and be explicit about returns/length and stats in CollectStats
  tianshou/data/collector.py
  tianshou/data/stats.py
Due: ruff, black, mypy

use exclude array in logger
  tianshou/utils/logger/base.py
Due: ruff, black, mypy

logger type updates
  tianshou/utils/logger/base.py
Due: ruff, black, mypy

trainer updates
  tianshou/trainer/base.py
  tianshou/trainer/utils.py
Due: ruff, black, mypy

policy type updates
  tianshou/policy/base.py
  tianshou/policy/imitation/gail.py
  tianshou/policy/modelbased/icm.py
  tianshou/policy/modelfree/a2c.py
  tianshou/policy/modelfree/ddpg.py
  tianshou/policy/modelfree/dqn.py
  tianshou/policy/modelfree/fqf.py
  tianshou/policy/modelfree/npg.py
  tianshou/policy/modelfree/pg.py
  tianshou/policy/modelfree/ppo.py
  tianshou/policy/modelfree/qrdqn.py
  tianshou/policy/modelfree/td3.py
  tianshou/policy/modelfree/trpo.py
  tianshou/policy/random.py
Due: ruff, black, mypy

stats updates
  tianshou/data/stats.py
Due: ruff, black, mypy

hl experiment type updates
  tianshou/highlevel/experiment.py
Due: ruff, black, mypy

test mypy updates
  test/discrete/test_bdq.py
  test/offline/test_cql.py
  test/offline/test_td3_bc.py
Due: ruff, black

mypy updates
  tianshou/highlevel/experiment.py
  tianshou/policy/imitation/gail.py
  tianshou/policy/modelfree/fqf.py
  tianshou/policy/modelfree/qrdqn.py
Due: ruff, black, mypy

logger flatten dict test
  test/base/test_logger.py
Due: ruff, black

test collector update
  test/base/test_collector.py
Due: ruff, black

add return type in icm
  tianshou/policy/modelbased/icm.py
Due: ruff, black, mypy

Add notebooks from ./docs/tutorials/get_started.rst to ./notebooks
  notebooks/L0_overview.ipynb
  notebooks/L1_Batch.ipynb
  notebooks/L2_Buffer.ipynb
  notebooks/L3_Vectorized__Environment.ipynb
  notebooks/L4_Policy.ipynb
  notebooks/L5_Collector.ipynb
  notebooks/L6_Trainer.ipynb
  notebooks/L7_Experiment.ipynb
Due: none

Removed notebook outputs
  notebooks/L0_overview.ipynb
  notebooks/L1_Batch.ipynb
  notebooks/L2_Buffer.ipynb
  notebooks/L3_Vectorized__Environment.ipynb
  notebooks/L4_Policy.ipynb
  notebooks/L5_Collector.ipynb
  notebooks/L6_Trainer.ipynb
  notebooks/L7_Experiment.ipynb
Due: none

Add jupyter pkg dependency to poetry env
  poetry.lock
  pyproject.toml
Due: none

Update gitignore
  .gitignore
Due: none

Setup jupyter-book
  notebooks/_config.yml
  notebooks/_toc.yml
  notebooks/intro.md
  poetry.lock
  pyproject.toml
Due: none

add git-action to compile notebooks
  .github/workflows/notebooks.yml
Due: none

Fix worklfow action compiling notebooks
  .github/workflows/notebooks.yml
Due: none

Update notebooks to current version
  notebooks/L0_overview.ipynb
  notebooks/L1_Batch.ipynb
  notebooks/L2_Buffer.ipynb
  notebooks/L3_Vectorized__Environment.ipynb
  notebooks/L4_Policy.ipynb
  notebooks/L5_Collector.ipynb
  notebooks/L6_Trainer.ipynb
  notebooks/L7_Experiment.ipynb
Due: none

Update jupyter-book _config.yml to comply with template
  notebooks/_config.yml
Due: none

Change gh-pages publish dir
  .github/workflows/notebooks.yml
Due: none

Change books publish dir
  .github/workflows/notebooks.yml
Due: none

Add compiled books for documentation
  .github/workflows/notebooks.yml
Due: none

Fix notebooks.yml
  .github/workflows/notebooks.yml
  notebooks/L0_overview.ipynb
  notebooks/_static/images/tianshou-logo.png
Due: none

fix build books action command
  .github/workflows/notebooks.yml
Due: none

Publish notebooks only on master
  .github/workflows/notebooks.yml
Due: none

fix notebook action
  .github/workflows/notebooks.yml
Due: none

Publish notebooks only from master
  .github/workflows/notebooks.yml
Due: none

Publish compiled Jupyter books to github-pages
  .github/workflows/notebooks.yml
Due: none

Path conditions:
  ruff: any of: \.py$
  black: any of: \.py$
  mypy: any of: ^tianshou(/[^/]*)*/[^/]*\.py$
