Repository thu-ml/tianshou: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, mypy

.pre-commit-config.yaml:

default_install_hook_types: [commit-msg, pre-commit]
default_stages: [commit, manual]
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff
        args: ["--extend-fixable=F401,F841", "--fix-only"]
        require_serial: true
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        require_serial: true
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: mypy
        # filenames should not be passed as they would collide with the config in pyproject.toml
        pass_filenames: false
        files: '^tianshou(/[^/]*)*/[^/]*\.py$'
        language: system

Meta: Adjusted PR and Issue templates
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Fixed dealing with max_action_num
  tianshou/policy/imitation/discrete_bcq.py
  tianshou/policy/modelfree/bdq.py
  tianshou/policy/modelfree/fqf.py
  tianshou/policy/modelfree/iqn.py
Due: ruff, black, mypy

Added compute_action method and test, multiple typing improvements
  test/base/test_policy.py
  tianshou/data/types.py
  tianshou/data/utils/converter.py
  tianshou/policy/base.py
  tianshou/policy/modelbased/icm.py
  tianshou/utils/net/continuous.py
Due: ruff, black, mypy

try changing seed
  test/offline/test_cql.py
Due: ruff, black

Minor improvements in types and fix in passing info
  tianshou/policy/imitation/cql.py
  tianshou/policy/imitation/discrete_bcq.py
  tianshou/policy/modelfree/bdq.py
  tianshou/policy/modelfree/dqn.py
  tianshou/policy/modelfree/fqf.py
  tianshou/policy/modelfree/iqn.py
Due: ruff, black, mypy

Fixed missing info field in target-q computation
  tianshou/policy/modelfree/bdq.py
  tianshou/policy/modelfree/c51.py
  tianshou/policy/modelfree/ddpg.py
  tianshou/policy/modelfree/discrete_sac.py
  tianshou/policy/modelfree/dqn.py
  tianshou/policy/modelfree/fqf.py
  tianshou/policy/modelfree/qrdqn.py
  tianshou/policy/modelfree/redq.py
  tianshou/policy/modelfree/sac.py
  tianshou/policy/modelfree/td3.py
Due: ruff, black, mypy

Method to compute actions from observations (#991)
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  examples/vizdoom/env.py
  test/base/test_policy.py
  tianshou/data/types.py
  tianshou/data/utils/converter.py
  tianshou/policy/base.py
  tianshou/policy/imitation/base.py
  tianshou/policy/imitation/bcq.py
  tianshou/policy/imitation/cql.py
  tianshou/policy/imitation/discrete_bcq.py
  tianshou/policy/modelbased/icm.py
  tianshou/policy/modelbased/psrl.py
  tianshou/policy/modelfree/bdq.py
  tianshou/policy/modelfree/c51.py
  tianshou/policy/modelfree/ddpg.py
  tianshou/policy/modelfree/discrete_sac.py
  tianshou/policy/modelfree/dqn.py
  tianshou/policy/modelfree/fqf.py
  tianshou/policy/modelfree/iqn.py
  tianshou/policy/modelfree/pg.py
  tianshou/policy/modelfree/qrdqn.py
  tianshou/policy/modelfree/redq.py
  tianshou/policy/modelfree/sac.py
  tianshou/policy/modelfree/td3.py
  tianshou/policy/random.py
  tianshou/utils/net/continuous.py
Due: ruff, black, mypy

Update on stats. epoch stats contain of collector stats, info stats and loss stats
  tianshou/data/stats.py
Due: ruff, black, mypy

gather_info returns InfoStats
  tianshou/trainer/utils.py
Due: ruff, black, mypy

BaseTrainer updates - updated types - __next__ now always and only returns epoch_stats
  tianshou/trainer/base.py
Due: ruff, black, mypy

BasePolicy: learn and update return Stats
  tianshou/policy/base.py
Due: ruff, black, mypy

BaseLogger update
  tianshou/utils/logger/base.py
Due: ruff, black, mypy

added stats to data namespace
  tianshou/data/__init__.py
Due: ruff, black, mypy

update collector to kw_only
  tianshou/data/collector.py
Due: ruff, black, mypy

modelfree policy.learn returns LossStats
  tianshou/policy/modelfree/a2c.py
  tianshou/policy/modelfree/bdq.py
  tianshou/policy/modelfree/c51.py
  tianshou/policy/modelfree/ddpg.py
  tianshou/policy/modelfree/discrete_sac.py
  tianshou/policy/modelfree/dqn.py
  tianshou/policy/modelfree/fqf.py
  tianshou/policy/modelfree/iqn.py
  tianshou/policy/modelfree/npg.py
  tianshou/policy/modelfree/pg.py
  tianshou/policy/modelfree/ppo.py
  tianshou/policy/modelfree/qrdqn.py
  tianshou/policy/modelfree/rainbow.py
  tianshou/policy/modelfree/redq.py
  tianshou/policy/modelfree/sac.py
  tianshou/policy/modelfree/td3.py
  tianshou/policy/modelfree/trpo.py
Due: ruff, black, mypy

imitation policy.learn returns LossStats
  tianshou/policy/imitation/base.py
  tianshou/policy/imitation/bcq.py
  tianshou/policy/imitation/cql.py
  tianshou/policy/imitation/discrete_bcq.py
  tianshou/policy/imitation/discrete_cql.py
  tianshou/policy/imitation/discrete_crr.py
  tianshou/policy/imitation/gail.py
  tianshou/policy/imitation/td3_bc.py
Due: ruff, black, mypy

modelbased policy.learn returns LossStats
  tianshou/policy/modelbased/icm.py
  tianshou/policy/modelbased/psrl.py
Due: ruff, black, mypy

examples updated to dataclasses
  examples/atari/atari_c51.py
  examples/atari/atari_dqn.py
  examples/atari/atari_fqf.py
  examples/atari/atari_iqn.py
  examples/atari/atari_ppo.py
  examples/atari/atari_qrdqn.py
  examples/atari/atari_rainbow.py
  examples/atari/atari_sac.py
  examples/box2d/acrobot_dualdqn.py
  examples/box2d/bipedal_bdq.py
  examples/box2d/bipedal_hardcore_sac.py
  examples/box2d/lunarlander_dqn.py
  examples/box2d/mcc_sac.py
  examples/inverse/irl_gail.py
  examples/mujoco/fetch_her_ddpg.py
  examples/mujoco/mujoco_a2c.py
  examples/mujoco/mujoco_ddpg.py
  examples/mujoco/mujoco_npg.py
  examples/mujoco/mujoco_ppo.py
  examples/mujoco/mujoco_redq.py
  examples/mujoco/mujoco_reinforce.py
  examples/mujoco/mujoco_sac.py
  examples/mujoco/mujoco_td3.py
  examples/mujoco/mujoco_trpo.py
  examples/offline/atari_bcq.py
  examples/offline/atari_cql.py
  examples/offline/atari_crr.py
  examples/offline/atari_il.py
  examples/offline/d4rl_bcq.py
  examples/offline/d4rl_cql.py
  examples/offline/d4rl_il.py
  examples/offline/d4rl_td3_bc.py
  examples/vizdoom/vizdoom_c51.py
  examples/vizdoom/vizdoom_ppo.py
Due: ruff, black

tests updated to dataclasses
  test/continuous/test_ddpg.py
  test/continuous/test_npg.py
  test/continuous/test_ppo.py
  test/continuous/test_redq.py
  test/continuous/test_sac_with_il.py
  test/continuous/test_td3.py
  test/continuous/test_trpo.py
  test/discrete/test_a2c_with_il.py
  test/discrete/test_bdq.py
  test/discrete/test_c51.py
  test/discrete/test_dqn.py
  test/discrete/test_drqn.py
  test/discrete/test_fqf.py
  test/discrete/test_iqn.py
  test/discrete/test_pg.py
  test/discrete/test_ppo.py
  test/discrete/test_qrdqn.py
  test/discrete/test_rainbow.py
  test/discrete/test_sac.py
  test/modelbased/test_dqn_icm.py
  test/modelbased/test_ppo_icm.py
  test/modelbased/test_psrl.py
  test/offline/gather_cartpole_data.py
  test/offline/gather_pendulum_data.py
  test/offline/test_bcq.py
  test/offline/test_cql.py
  test/offline/test_discrete_bcq.py
  test/offline/test_discrete_cql.py
  test/offline/test_discrete_crr.py
  test/offline/test_gail.py
  test/offline/test_td3_bc.py
Due: ruff, black

update argument name
  README.md
Due: none

Update README.md
  README.md
Due: none

Update quickstart argument name (#994)
  README.md
Due: none

Bug in bcq_discrete fixed by replacing np.inf by the max float number.
  tianshou/policy/imitation/discrete_bcq.py
Due: ruff, black, mypy

Bug in bcq_discrete fixed.
  tianshou/policy/imitation/discrete_bcq.py
Due: ruff, black, mypy

Formatting
  tianshou/policy/imitation/discrete_bcq.py
Due: ruff, black, mypy

updated stats to use python dataclasses
  tianshou/data/__init__.py
  tianshou/data/stats.py
Due: ruff, black, mypy

updated collector
  tianshou/data/collector.py
Due: ruff, black, mypy

updates in BaseTrainer
  tianshou/trainer/base.py
Due: ruff, black, mypy

updates in BasePolicy
  tianshou/policy/base.py
Due: ruff, black, mypy

updates in logger, added log_info_data
  tianshou/utils/logger/base.py
  tianshou/utils/logger/tensorboard.py
  tianshou/utils/logger/wandb.py
Due: ruff, black, mypy

update gather_info
  tianshou/trainer/utils.py
Due: ruff, black, mypy

update policies' LossStats and return types
  tianshou/policy/imitation/base.py
  tianshou/policy/imitation/bcq.py
  tianshou/policy/imitation/cql.py
  tianshou/policy/imitation/discrete_bcq.py
  tianshou/policy/imitation/discrete_cql.py
  tianshou/policy/imitation/discrete_crr.py
  tianshou/policy/imitation/gail.py
  tianshou/policy/imitation/td3_bc.py
  tianshou/policy/modelbased/icm.py
  tianshou/policy/modelbased/psrl.py
  tianshou/policy/modelfree/a2c.py
  tianshou/policy/modelfree/bdq.py
  tianshou/policy/modelfree/c51.py
  tianshou/policy/modelfree/ddpg.py
  tianshou/policy/modelfree/discrete_sac.py
  tianshou/policy/modelfree/dqn.py
  tianshou/policy/modelfree/fqf.py
  tianshou/policy/modelfree/iqn.py
  tianshou/policy/modelfree/npg.py
  tianshou/policy/modelfree/pg.py
  tianshou/policy/modelfree/ppo.py
  tianshou/policy/modelfree/qrdqn.py
  tianshou/policy/modelfree/redq.py
  tianshou/policy/modelfree/sac.py
  tianshou/policy/modelfree/td3.py
  tianshou/policy/modelfree/trpo.py
Due: ruff, black, mypy

update examples to use dataclasses
  examples/atari/atari_c51.py
  examples/atari/atari_dqn.py
  examples/atari/atari_fqf.py
  examples/atari/atari_iqn.py
  examples/atari/atari_ppo.py
  examples/atari/atari_qrdqn.py
  examples/atari/atari_rainbow.py
  examples/atari/atari_sac.py
  examples/box2d/acrobot_dualdqn.py
  examples/box2d/bipedal_bdq.py
  examples/box2d/bipedal_hardcore_sac.py
  examples/box2d/lunarlander_dqn.py
  examples/box2d/mcc_sac.py
  examples/inverse/irl_gail.py
  examples/mujoco/fetch_her_ddpg.py
  examples/mujoco/mujoco_a2c.py
  examples/mujoco/mujoco_a2c_hl.py
  examples/mujoco/mujoco_ddpg.py
  examples/mujoco/mujoco_npg.py
  examples/mujoco/mujoco_ppo.py
  examples/mujoco/mujoco_redq.py
  examples/mujoco/mujoco_redq_hl.py
  examples/mujoco/mujoco_reinforce.py
  examples/mujoco/mujoco_sac.py
  examples/mujoco/mujoco_sac_hl.py
  examples/mujoco/mujoco_td3.py
  examples/mujoco/mujoco_td3_hl.py
  examples/mujoco/mujoco_trpo.py
  examples/offline/atari_bcq.py
  examples/offline/atari_cql.py
  examples/offline/atari_crr.py
  examples/offline/atari_il.py
  examples/offline/d4rl_bcq.py
  examples/offline/d4rl_cql.py
  examples/offline/d4rl_il.py
  examples/offline/d4rl_td3_bc.py
  examples/vizdoom/vizdoom_c51.py
  examples/vizdoom/vizdoom_ppo.py
Due: ruff, black

update tests to use dataclasses
  test/base/test_collector.py
  test/continuous/test_ddpg.py
  test/continuous/test_npg.py
  test/continuous/test_ppo.py
  test/continuous/test_redq.py
  test/continuous/test_sac_with_il.py
  test/continuous/test_td3.py
  test/continuous/test_trpo.py
  test/discrete/test_a2c_with_il.py
  test/discrete/test_bdq.py
  test/discrete/test_c51.py
  test/discrete/test_dqn.py
  test/discrete/test_drqn.py
  test/discrete/test_fqf.py
  test/discrete/test_iqn.py
  test/discrete/test_pg.py
  test/discrete/test_ppo.py
  test/discrete/test_qrdqn.py
  test/discrete/test_rainbow.py
  test/discrete/test_sac.py
  test/modelbased/test_dqn_icm.py
  test/modelbased/test_ppo_icm.py
  test/offline/gather_cartpole_data.py
  test/offline/gather_pendulum_data.py
  test/offline/test_bcq.py
  test/offline/test_cql.py
  test/offline/test_discrete_bcq.py
  test/offline/test_discrete_cql.py
  test/offline/test_discrete_crr.py
  test/offline/test_gail.py
  test/offline/test_td3_bc.py
  test/pettingzoo/test_pistonball.py
  test/pettingzoo/test_pistonball_continuous.py
  test/pettingzoo/test_tic_tac_toe.py
Due: ruff, black

update highlevel Experiment to use dataclasses
  tianshou/highlevel/experiment.py
Due: ruff, black, mypy

Bugfix/discrete bcq inf (#995)
  tianshou/policy/imitation/discrete_bcq.py
Due: ruff, black, mypy

Support batch_size=None and use it in various scripts (#993)
  examples/mujoco/mujoco_a2c.py
  examples/mujoco/mujoco_a2c_hl.py
  examples/mujoco/mujoco_npg.py
  examples/mujoco/mujoco_npg_hl.py
  examples/mujoco/mujoco_reinforce.py
  examples/mujoco/mujoco_reinforce_hl.py
  examples/mujoco/mujoco_trpo.py
  examples/mujoco/mujoco_trpo_hl.py
  tianshou/data/buffer/base.py
  tianshou/data/buffer/her.py
  tianshou/data/buffer/manager.py
  tianshou/data/buffer/prio.py
  tianshou/policy/base.py
  tianshou/policy/imitation/gail.py
  tianshou/policy/modelfree/a2c.py
  tianshou/policy/modelfree/npg.py
  tianshou/policy/modelfree/pg.py
  tianshou/policy/modelfree/ppo.py
  tianshou/policy/modelfree/trpo.py
  tianshou/trainer/base.py
Due: ruff, black, mypy

update on the logger module
  tianshou/utils/logger/base.py
  tianshou/utils/logger/tensorboard.py
  tianshou/utils/logger/wandb.py
Due: ruff, black, mypy

updated stats definitions
  tianshou/data/stats.py
Due: ruff, black, mypy
