Repository thu-ml/tianshou: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, mypy

.pre-commit-config.yaml:

default_install_hook_types: [commit-msg, pre-commit]
default_stages: [commit, manual]
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff
        args: ["--extend-fixable=F401,F841", "--fix-only"]
        require_serial: true
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        require_serial: true
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: mypy
        # filenames should not be passed as they would collide with the config in pyproject.toml
        pass_filenames: false
        files: '^tianshou(/[^/]*)*/[^/]*\.py$'
        language: system

Bump ray
  poetry.lock
  pyproject.toml
Due: none

Removed unused type-ignore. Unclear why this was not needed before
  tianshou/data/collector.py
Due: ruff, black, mypy

Fixed typo in shimmy compat
  tianshou/env/venvs.py
Due: ruff, black, mypy

Bump gym, symplify poe tasks, accelerate tests
  .github/workflows/extra_sys.yml
  .github/workflows/pytest.yml
  poetry.lock
  pyproject.toml
Due: none

Removed gym, shimmy, nni, related tests and profiling tests
  poetry.lock
  pyproject.toml
  test/3rd_party/test_nni.py
  test/discrete/test_a2c_with_il.py
  test/discrete/test_dqn_gym.py
  test/discrete/test_pg.py
  test/discrete/test_ppo.py
  test/modelbased/test_ppo_icm.py
  test/offline/test_cql.py
  test/offline/test_discrete_crr.py
  test/throughput/__init__.py
  test/throughput/env.py
  test/throughput/test_batch_profile.py
  test/throughput/test_buffer_profile.py
  test/throughput/test_collector_profile.py
  tianshou/env/venvs.py
  tianshou/trainer/base.py
Due: ruff, black, mypy

Switched to python 3.11, fix poe config
  .github/workflows/extra_sys.yml
  .github/workflows/gputest.yml
  .github/workflows/lint_and_docs.yml
  .github/workflows/pytest.yml
  pyproject.toml
Due: none

Removed accidentally committed line
  tianshou/trainer/base.py
Due: ruff, black, mypy

Removed xdist, fixed typo
  poetry.lock
  pyproject.toml
Due: none

One more typo
  pyproject.toml
Due: none

Trying to fix random poetry-windows problems...
  poetry.lock
  pyproject.toml
Due: none

One more attempt
  .github/workflows/extra_sys.yml
Due: none

Fix test invocation on ubuntu
  .github/workflows/pytest.yml
Due: none

Fixed test - action_space not passed
  test/offline/test_cql.py
Due: ruff, black

Fix test_cql - set action scaling to False
  test/offline/test_cql.py
Due: ruff, black

Format
  test/offline/test_cql.py
Due: ruff, black

Don't install ray on windows
  poetry.lock
  pyproject.toml
Due: none

Updated documentation for contributing
  docs/contributing.rst
Due: none

Succesful pre-commit check
  examples/offline/d4rl_cql.py
  test/offline/test_cql.py
  tianshou/policy/imitation/cql.py
Due: ruff, black, mypy

Minor: use Self type where appropriate
  tianshou/data/batch.py
  tianshou/data/buffer/base.py
  tianshou/data/collector.py
  tianshou/env/utils.py
  tianshou/policy/base.py
Due: ruff, black, mypy

Format
  tianshou/data/batch.py
Due: ruff, black, mypy

One more type ignore
  tianshou/data/collector.py
Due: ruff, black, mypy

Minor: use Self type where appropriate (#942)
  tianshou/data/batch.py
  tianshou/data/buffer/base.py
  tianshou/data/collector.py
  tianshou/env/utils.py
  tianshou/policy/base.py
Due: ruff, black, mypy

Add obs_next to RolloutBatchProtocol
  tianshou/data/types.py
Due: ruff, black, mypy

Add process_buffer
  tianshou/policy/base.py
  tianshou/trainer/base.py
Due: ruff, black, mypy

Refactor calibrated CQL
  examples/offline/d4rl_cql.py
  examples/offline/utils.py
  tianshou/policy/imitation/cql.py
Due: ruff, black, mypy

Refactor calibrated CQL
  test/offline/test_cql.py
Due: ruff, black

Fix pep8 errors
  examples/offline/d4rl_cql.py
  test/offline/test_cql.py
  tianshou/policy/base.py
  tianshou/policy/imitation/cql.py
Due: ruff, black, mypy

Fix mypy errors
  tianshou/policy/base.py
  tianshou/policy/imitation/cql.py
Due: ruff, black, mypy

Refactoring: remove **kwargs from policy. Part 1
  docs/tutorials/tictactoe.rst
  test/base/test_collector.py
  test/discrete/test_pg.py
  test/pettingzoo/tic_tac_toe.py
  tianshou/policy/base.py
  tianshou/policy/imitation/base.py
  tianshou/policy/imitation/bcq.py
  tianshou/policy/modelbased/icm.py
  tianshou/policy/modelbased/psrl.py
  tianshou/policy/modelfree/ddpg.py
  tianshou/policy/modelfree/dqn.py
  tianshou/policy/modelfree/pg.py
  tianshou/utils/optim.py
Due: ruff, black, mypy

Refactoring: remove **kwargs from policy. Part 2
  tianshou/policy/imitation/discrete_bcq.py
  tianshou/policy/modelfree/bdq.py
  tianshou/policy/modelfree/c51.py
  tianshou/policy/modelfree/qrdqn.py
Due: ruff, black, mypy

Refactoring: remove **kwargs from policy. Part 3.1
  tianshou/policy/modelfree/rainbow.py
  tianshou/utils/net/discrete.py
Due: ruff, black, mypy

Refactoring: remove **kwargs from policy. Part 3.2
  tianshou/policy/imitation/discrete_cql.py
  tianshou/policy/modelfree/dqn.py
  tianshou/policy/modelfree/fqf.py
  tianshou/policy/modelfree/iqn.py
  tianshou/policy/modelfree/qrdqn.py
Due: ruff, black, mypy

Refactoring: remove **kwargs from policy. Part 4.1
  tianshou/policy/modelfree/redq.py
  tianshou/policy/modelfree/sac.py
  tianshou/policy/modelfree/td3.py
Due: ruff, black, mypy

Refactoring: remove **kwargs from policy. Part 4.2
  tianshou/policy/imitation/cql.py
  tianshou/policy/imitation/td3_bc.py
  tianshou/policy/modelfree/discrete_sac.py
  tianshou/policy/modelfree/sac.py
Due: ruff, black, mypy

Refactoring: remove **kwargs from policy. Part 5.1
  tianshou/policy/imitation/discrete_crr.py
  tianshou/policy/modelfree/a2c.py
Due: ruff, black, mypy

Refactoring: remove **kwargs from policy. Part 5.2
  tianshou/policy/imitation/gail.py
  tianshou/policy/modelfree/a2c.py
  tianshou/policy/modelfree/npg.py
  tianshou/policy/modelfree/ppo.py
  tianshou/policy/modelfree/trpo.py
Due: ruff, black, mypy

Refactoring: remove **kwargs from policy. Part 1, appendix
  tianshou/policy/multiagent/mapolicy.py
Due: ruff, black, mypy
