Repository thu-ml/tianshou: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, poetry-check, mypy, poetry-sort

ruff:
  name: ruff
  entry: ruff
  args:
  - --extend-fixable=F401,F841
  - --fix-only
  require_serial: true
  language: system

black:
  name: black
  entry: black
  require_serial: true
  language: system

poetry-check:
  name: poetry check
  entry: poetry check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: mypy
  pass_filenames: false
  language: system

poetry-sort:
  name: poetry-sort
  entry: poetry sort
  language: system
  pass_filenames: false

Bump numba
  poetry.lock
  pyproject.toml
Due: poetry-check, poetry-sort

Fix poetry activation in CI
  .github/workflows/extra_sys.yml
  .github/workflows/gputest.yml
  .github/workflows/lint_and_docs.yml
  .github/workflows/pytest.yml
Due: none

Fix dev requirements handling
  .github/workflows/extra_sys.yml
  .github/workflows/gputest.yml
  .github/workflows/lint_and_docs.yml
  .github/workflows/pytest.yml
  poetry.lock
  pyproject.toml
Due: poetry-check, poetry-sort

Use poetry run in CI calls
  .github/workflows/extra_sys.yml
  .github/workflows/gputest.yml
  .github/workflows/lint_and_docs.yml
  .github/workflows/pytest.yml
Due: none

Added pre-commit to dev requirements
  poetry.lock
  pyproject.toml
Due: poetry-check, poetry-sort

Made envpool optional, removed from windows-mac CI
  .github/workflows/pytest.yml
  poetry.lock
  pyproject.toml
Due: poetry-check, poetry-sort

Improved handling of poetry plugins and tool calls in pre-commit
  .pre-commit-config.yaml
  MANIFEST.in
  poetry.lock
  pyproject.toml
  tianshou/env/worker/ray.py
Due: ruff, black, poetry-check, mypy, poetry-sort

Fixed torch to 2.0.0
  poetry.lock
  pyproject.toml
Due: poetry-check, poetry-sort

Typo
  setup.py
Due: ruff, black

Fixed CI
  .github/workflows/lint_and_docs.yml
  Makefile
  setup.py
Due: ruff, black

Bumped python in CI
  .github/workflows/extra_sys.yml
  .github/workflows/lint_and_docs.yml
  .github/workflows/pytest.yml
Due: none

Fixed ruff config, reinstated some type: ignore
  pyproject.toml
  tianshou/env/utils.py
  tianshou/env/worker/ray.py
Due: ruff, black, poetry-check, mypy, poetry-sort

One more type: ignore (not needed on newer python)
  tianshou/data/collector.py
Due: ruff, black, mypy

Fixed make, removed unused options from CI
  .github/workflows/lint_and_docs.yml
  Makefile
  docs/contributing.rst
Due: none

Undid the __iter__ change in Batch
  pyproject.toml
  tianshou/data/batch.py
  tianshou/data/buffer/base.py
Due: ruff, black, poetry-check, mypy, poetry-sort

Undid forgotten change to batch.keys()
  test/base/test_buffer.py
Due: ruff, black

cleanup
  .flake8
  pyproject.toml
  tianshou/__init__.py
Due: ruff, black, poetry-check, mypy, poetry-sort

tune, it's the last time
  .flake8
  .pre-commit-config.yaml
  pyproject.toml
  tianshou/policy/base.py
  tianshou/utils/net/common.py
Due: ruff, black, poetry-check, mypy, poetry-sort

Bump black
  .pre-commit-config.yaml
Due: none

Include black check in make lint
  Makefile
Due: none

Move flake8 config to pyproject
  .flake8
  pyproject.toml
Due: poetry-check, poetry-sort

Fixed the .keys issue, formatted with new rules and bumped black
  pyproject.toml
  test/base/test_buffer.py
  tianshou/data/batch.py
  tianshou/data/buffer/base.py
Due: ruff, black, poetry-check, mypy, poetry-sort

Fix some typing issues, added TODOs
  tianshou/data/buffer/base.py
  tianshou/data/collector.py
  tianshou/env/venv_wrappers.py
  tianshou/env/venvs.py
  tianshou/utils/net/continuous.py
  tianshou/utils/net/discrete.py
Due: ruff, black, mypy

Fixed readme encoding in setup.py
  setup.py
Due: ruff, black

Poetry and poe based install, task execution and CI
  .github/workflows/extra_sys.yml
  .github/workflows/gputest.yml
  .github/workflows/lint_and_docs.yml
  .github/workflows/pytest.yml
  .gitignore
  .pre-commit-config.yaml
  Makefile
  docs/Makefile
  poetry.lock
  pyproject.toml
  setup.py
Due: ruff, black, poetry-check, poetry-sort

Added spelling to doc-build, fixed test invocation in CI
  .github/workflows/extra_sys.yml
  .github/workflows/gputest.yml
  .github/workflows/lint_and_docs.yml
  pyproject.toml
Due: poetry-check, poetry-sort

Added forgotten type-check step to CI
  .github/workflows/lint_and_docs.yml
  pyproject.toml
Due: poetry-check, poetry-sort

Add sphinx-spelling dependency
  poetry.lock
  pyproject.toml
Due: poetry-check, poetry-sort

Added lightning to dev-deps and a TODO
  poetry.lock
  pyproject.toml
Due: poetry-check, poetry-sort

Pin ray to version 1 (2 causes errors on windows)
  poetry.lock
  pyproject.toml
Due: poetry-check, poetry-sort

Fixed semver requirements in pyproject
  poetry.lock
  pyproject.toml
Due: poetry-check, poetry-sort

Pass ruff check
  examples/offline/d4rl_cql.py
  test/offline/test_cql.py
  tianshou/policy/imitation/cql.py
Due: ruff, black, mypy

Typo
  pyproject.toml
Due: poetry-check, poetry-sort

Added python xdist
  poetry.lock
  pyproject.toml
Due: poetry-check, poetry-sort

Path conditions:
  ruff: any of: \.py$
  black: any of: \.py$
  poetry-check: any of: pyproject.toml
  mypy: any of: ^tianshou(/[^/]*)*/[^/]*\.py$
  poetry-sort: any of: pyproject.toml
