Repository thu-ml/tianshou: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, mypy

ruff:
  name: ruff
  entry: ruff
  args:
  - --extend-fixable=F401,F841
  - --fix-only
  require_serial: true
  language: system

black:
  name: black
  entry: black
  require_serial: true
  language: system

mypy:
  name: mypy
  entry: mypy
  pass_filenames: false
  language: system

Changes in docs, adjustments to new inits
  examples/mujoco/mujoco_reinforce.py
  examples/offline/d4rl_cql.py
  tianshou/data/batch.py
  tianshou/data/buffer/base.py
  tianshou/data/buffer/cached.py
  tianshou/data/buffer/her.py
  tianshou/data/buffer/prio.py
  tianshou/data/buffer/vecbuf.py
  tianshou/data/collector.py
  tianshou/data/utils/segtree.py
  tianshou/env/gym_wrappers.py
  tianshou/env/venv_wrappers.py
  tianshou/env/venvs.py
  tianshou/policy/base.py
  tianshou/utils/logger/base.py
  tianshou/utils/logger/tensorboard.py
  tianshou/utils/logger/wandb.py
  tianshou/utils/lr_scheduler.py
  tianshou/utils/net/common.py
  tianshou/utils/net/continuous.py
  tianshou/utils/statistics.py
Due: ruff, black, mypy

Multiple fixes related to previous refactoring
  tianshou/exploration/random.py
  tianshou/policy/imitation/cql.py
  tianshou/policy/imitation/td3_bc.py
  tianshou/policy/modelfree/bdq.py
  tianshou/policy/modelfree/ddpg.py
  tianshou/policy/modelfree/discrete_sac.py
  tianshou/policy/modelfree/redq.py
  tianshou/policy/modelfree/sac.py
  tianshou/policy/modelfree/td3.py
  tianshou/policy/modelfree/trpo.py
  tianshou/utils/optim.py
Due: ruff, black, mypy

Typos
  docs/spelling_wordlist.txt
  tianshou/policy/modelfree/ddpg.py
  tianshou/policy/modelfree/pg.py
  tianshou/policy/modelfree/redq.py
Due: ruff, black, mypy

More fixes in tests
  test/continuous/test_sac_with_il.py
  test/discrete/test_c51.py
  test/discrete/test_sac.py
  test/modelbased/test_dqn_icm.py
  test/modelbased/test_ppo_icm.py
  test/offline/gather_pendulum_data.py
Due: ruff, black

fix
  .readthedocs.yaml
Due: none

fix
  README.md
  docs/requirements.txt
Due: none

fix two issues
  README.md
  docs/index.rst
  docs/tutorials/dqn.rst
  examples/inverse/irl_gail.py
Due: ruff, black

Update README.md
  README.md
Due: none

Improvments forllowing Misha's comments
  examples/offline/d4rl_cql.py
  test/offline/test_cql.py
  tianshou/policy/base.py
  tianshou/policy/imitation/cql.py
  tianshou/trainer/base.py
Due: ruff, black, mypy

Use more general type declaration for lr_scheduler
  tianshou/policy/base.py
  tianshou/policy/imitation/base.py
  tianshou/policy/imitation/bcq.py
  tianshou/policy/imitation/cql.py
  tianshou/policy/imitation/discrete_bcq.py
  tianshou/policy/imitation/discrete_cql.py
  tianshou/policy/imitation/discrete_crr.py
  tianshou/policy/imitation/gail.py
  tianshou/policy/imitation/td3_bc.py
  tianshou/policy/modelbased/icm.py
  tianshou/policy/modelbased/psrl.py
  tianshou/policy/modelfree/a2c.py
  tianshou/policy/modelfree/bdq.py
  tianshou/policy/modelfree/c51.py
  tianshou/policy/modelfree/ddpg.py
  tianshou/policy/modelfree/discrete_sac.py
  tianshou/policy/modelfree/dqn.py
  tianshou/policy/modelfree/fqf.py
  tianshou/policy/modelfree/iqn.py
  tianshou/policy/modelfree/npg.py
  tianshou/policy/modelfree/pg.py
  tianshou/policy/modelfree/ppo.py
  tianshou/policy/modelfree/qrdqn.py
  tianshou/policy/modelfree/redq.py
  tianshou/policy/modelfree/sac.py
  tianshou/policy/modelfree/td3.py
  tianshou/policy/modelfree/trpo.py
  tianshou/policy/multiagent/mapolicy.py
Due: ruff, black, mypy

Added *, to inits of all policies, fixed input validation in SACDiscrete
  poetry.lock
  pyproject.toml
  test/offline/test_bcq.py
  tianshou/policy/base.py
  tianshou/policy/imitation/base.py
  tianshou/policy/imitation/bcq.py
  tianshou/policy/imitation/cql.py
  tianshou/policy/imitation/discrete_bcq.py
  tianshou/policy/imitation/discrete_cql.py
  tianshou/policy/imitation/discrete_crr.py
  tianshou/policy/imitation/gail.py
  tianshou/policy/imitation/td3_bc.py
  tianshou/policy/modelbased/icm.py
  tianshou/policy/modelbased/psrl.py
  tianshou/policy/modelfree/a2c.py
  tianshou/policy/modelfree/bdq.py
  tianshou/policy/modelfree/c51.py
  tianshou/policy/modelfree/ddpg.py
  tianshou/policy/modelfree/discrete_sac.py
  tianshou/policy/modelfree/dqn.py
  tianshou/policy/modelfree/fqf.py
  tianshou/policy/modelfree/iqn.py
  tianshou/policy/modelfree/npg.py
  tianshou/policy/modelfree/pg.py
  tianshou/policy/modelfree/ppo.py
  tianshou/policy/modelfree/qrdqn.py
  tianshou/policy/modelfree/redq.py
  tianshou/policy/modelfree/sac.py
  tianshou/policy/modelfree/td3.py
  tianshou/policy/modelfree/trpo.py
  tianshou/policy/multiagent/mapolicy.py
Due: ruff, black, mypy

fix readme
  README.md
Due: none

Fixes in policy instantiations in tests (using kwargs there)
  pyproject.toml
  test/continuous/test_sac_with_il.py
  test/discrete/test_a2c_with_il.py
  test/discrete/test_bdq.py
  test/pettingzoo/pistonball.py
  test/pettingzoo/tic_tac_toe.py
  tianshou/policy/multiagent/mapolicy.py
Due: ruff, black, mypy

Refactoring: added utils for computation of returns
  test/policy/test_base.py
  tianshou/data/batch.py
  tianshou/data/buffer/base.py
  tianshou/policy/base.py
  tianshou/policy/imitation/cql.py
  tianshou/trainer/base.py
Due: ruff, black, mypy

Fix typing issues due to obs_next now being typed
  tianshou/data/buffer/her.py
  tianshou/data/collector.py
  tianshou/policy/modelbased/psrl.py
Due: ruff, black, mypy

Cosmetic
  tianshou/policy/base.py
Due: ruff, black, mypy

Better names for util functions
  test/policy/test_base.py
  tianshou/policy/base.py
  tianshou/policy/imitation/cql.py
Due: ruff, black, mypy

Fix documentation build (#951)
  .readthedocs.yaml
  README.md
  docs/index.rst
  docs/requirements.txt
  docs/tutorials/dqn.rst
  examples/inverse/irl_gail.py
Due: ruff, black

Fix some styling erros
  test/policy/test_base.py
  tianshou/policy/base.py
Due: ruff, black, mypy

Fix pep 8 error
  tianshou/policy/base.py
Due: ruff, black, mypy

Add overrides
  poetry.lock
  pyproject.toml
Due: none

Update tianshou/policy/base.py
  tianshou/policy/base.py
Due: ruff, black, mypy

Update tianshou/policy/imitation/cql.py
  tianshou/policy/imitation/cql.py
Due: ruff, black, mypy

Cosmetic [skip ci]
  tianshou/data/buffer/her.py
Due: ruff, black, mypy

Docs [skip ci]
  tianshou/policy/base.py
Due: ruff, black, mypy

fix
  examples/offline/utils.py
Due: ruff, black

dedup
  test/policy/test_base.py
  tianshou/policy/base.py
  tianshou/policy/imitation/cql.py
Due: ruff, black, mypy

dedup again
  tianshou/data/batch.py
  tianshou/policy/base.py
Due: ruff, black, mypy

Add calibration to CQL as in CalQL paper arXiv:2303.05479 (#915)
  examples/offline/d4rl_cql.py
  poetry.lock
  pyproject.toml
  test/offline/test_cql.py
  tianshou/data/batch.py
  tianshou/data/buffer/base.py
  tianshou/data/buffer/her.py
  tianshou/data/collector.py
  tianshou/data/types.py
  tianshou/policy/base.py
  tianshou/policy/imitation/cql.py
  tianshou/policy/modelbased/psrl.py
  tianshou/trainer/base.py
Due: ruff, black, mypy

Addressed review comments
  README.md
  docs/tutorials/dqn.rst
  docs/tutorials/tictactoe.rst
  examples/offline/d4rl_cql.py
  test/base/test_collector.py
  test/base/test_env_finite.py
  test/offline/gather_pendulum_data.py
  test/offline/test_bcq.py
  test/offline/test_cql.py
  test/offline/test_discrete_crr.py
  tianshou/policy/base.py
  tianshou/policy/imitation/bcq.py
  tianshou/policy/imitation/discrete_crr.py
  tianshou/policy/imitation/td3_bc.py
  tianshou/policy/modelbased/psrl.py
  tianshou/policy/modelfree/discrete_sac.py
  tianshou/policy/modelfree/sac.py
  tianshou/policy/modelfree/td3.py
Due: ruff, black, mypy

Docstring [skip ci]
  tianshou/policy/modelfree/a2c.py
Due: ruff, black, mypy

Add dev dependencies jsonargparse and docstring_parser
  poetry.lock
  pyproject.toml
Due: none

Addition of dataclasses based config for scripts, major refactoring
  examples/mujoco/config/logger.yml
  examples/mujoco/config/sampling.yml
  examples/mujoco/default_config.yml
  examples/mujoco/mujoco_env.py
  examples/mujoco/mujoco_ppo_cfg.py
  tianshou/config/__init__.py
  tianshou/config/config.py
  tianshou/config/utils.py
Due: ruff, black, mypy

Initial high-level interfaces, demonstrated in mujoco_ppo_hl
  examples/mujoco/mujoco_env.py
  examples/mujoco/mujoco_ppo_hl.py
  tianshou/config/config.py
  tianshou/highlevel/__init__.py
  tianshou/highlevel/agent.py
  tianshou/highlevel/env.py
  tianshou/highlevel/experiment.py
  tianshou/highlevel/logger.py
  tianshou/highlevel/module.py
  tianshou/highlevel/optim.py
Due: ruff, black, mypy

Ignore D106: Missing docstring in public nested class
  pyproject.toml
Due: none

Path conditions:
  ruff: any of: \.py$
  black: any of: \.py$
  mypy: any of: ^tianshou(/[^/]*)*/[^/]*\.py$
