Repository thu-ml/tianshou: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, mypy

ruff:
  name: ruff
  entry: ruff
  args:
  - --extend-fixable=F401,F841
  - --fix-only
  require_serial: true
  language: system

black:
  name: black
  entry: black
  require_serial: true
  language: system

mypy:
  name: mypy
  entry: mypy
  pass_filenames: false
  language: system

Handle obs_norm setting in MuJoCo envs
  examples/mujoco/mujoco_a2c_hl.py
  examples/mujoco/mujoco_ddpg_hl.py
  examples/mujoco/mujoco_env.py
  examples/mujoco/mujoco_npg_hl.py
  examples/mujoco/mujoco_ppo_hl.py
  examples/mujoco/mujoco_redq_hl.py
  examples/mujoco/mujoco_reinforce_hl.py
  examples/mujoco/mujoco_sac_hl.py
  examples/mujoco/mujoco_td3_hl.py
  examples/mujoco/mujoco_trpo_hl.py
Due: ruff, black

Use logging to report trainer epoch status
  tianshou/highlevel/agent.py
  tianshou/trainer/base.py
Due: ruff, black, mypy

Add documentation to parameters, improve factorisation
  tianshou/highlevel/params/policy_params.py
Due: ruff, black, mypy

miniblock: Fix type annotation of linear_layer
  tianshou/utils/net/common.py
Due: ruff, black, mypy

Add 'stdout' to spelling dictionary
  docs/spelling_wordlist.txt
Due: none

Improve docstrings
  tianshou/highlevel/experiment.py
  tianshou/highlevel/logger.py
  tianshou/highlevel/params/lr_scheduler.py
Due: ruff, black, mypy

Docs: Add tianshou.highlevel to docs build via auto-generated .rst files
  docs/.gitignore
  docs/autogen_rst.py
  docs/index.rst
  docs/spelling_wordlist.txt
  pyproject.toml
Due: ruff, black

Change interface of EnvFactory to ensure that configuration of number of environments in SamplingConfig is used (values are now passed to factory method)
  examples/atari/atari_dqn_hl.py
  examples/atari/atari_iqn_hl.py
  examples/atari/atari_ppo_hl.py
  examples/atari/atari_sac_hl.py
  examples/atari/atari_wrapper.py
  examples/mujoco/mujoco_a2c_hl.py
  examples/mujoco/mujoco_ddpg_hl.py
  examples/mujoco/mujoco_env.py
  examples/mujoco/mujoco_npg_hl.py
  examples/mujoco/mujoco_ppo_hl.py
  examples/mujoco/mujoco_redq_hl.py
  examples/mujoco/mujoco_reinforce_hl.py
  examples/mujoco/mujoco_sac_hl.py
  examples/mujoco/mujoco_td3_hl.py
  examples/mujoco/mujoco_trpo_hl.py
  test/highlevel/env_factory.py
  test/highlevel/test_continuous.py
  test/highlevel/test_discrete.py
  tianshou/highlevel/env.py
  tianshou/highlevel/experiment.py
Due: ruff, black, mypy

ExperimentConfig: Improve docstrings, remove obsolete item 'render'
  tianshou/highlevel/experiment.py
Due: ruff, black, mypy

Keep all ExperimentBuilder tests in one place
  test/highlevel/test_discrete.py
  test/highlevel/test_experiment_builder.py
Due: ruff, black

Revert to simplified environment factory, removing unnecessary config object (configuration shall be part of the factory instance)
  examples/atari/atari_wrapper.py
  examples/mujoco/mujoco_env.py
  test/highlevel/env_factory.py
  tianshou/highlevel/env.py
  tianshou/highlevel/experiment.py
  tianshou/highlevel/persistence.py
Due: ruff, black, mypy

Fix: Add MujocoEnvObsRmsPersistence only if obs_norm is enabled
  examples/mujoco/mujoco_env.py
Due: ruff, black

Add convenient construction mechanisms for Environments (based on factory function for a single environment)
  tianshou/highlevel/env.py
Due: ruff, black, mypy

Force kwargs in PolicyWrapperFactoryIntrinsicCuriosity init
  examples/atari/atari_dqn_hl.py
  examples/atari/atari_ppo_hl.py
  examples/atari/atari_sac_hl.py
  tianshou/highlevel/params/policy_wrapper.py
Due: ruff, black, mypy

BaseTrainer: Remove info on default values from docstrings
  tianshou/trainer/base.py
Due: ruff, black, mypy

Fixed misleading multi-agent training sentences
  docs/tutorials/tictactoe.rst
Due: none

Add comment explaining use of _logFormat
  tianshou/utils/logging.py
Due: ruff, black, mypy

Apply datetime_tag() in high-level examples
  examples/atari/atari_ppo_hl.py
  examples/mujoco/mujoco_sac_hl.py
Due: ruff, black

Change default number of environments (train=#CPUs, test=1)
  tianshou/highlevel/config.py
Due: ruff, black, mypy

Update docs/tutorials/tictactoe.rst
  docs/tutorials/tictactoe.rst
Due: none

Fixed misleading multi-agent training sentences (#980)
  docs/tutorials/tictactoe.rst
Due: none

Add option to disable file logging
  tianshou/highlevel/experiment.py
Due: ruff, black, mypy

Depend on sensAI instead of copying its utils (logging, string)
  .gitignore
  examples/atari/atari_dqn_hl.py
  examples/atari/atari_iqn_hl.py
  examples/atari/atari_ppo_hl.py
  examples/atari/atari_sac_hl.py
  examples/mujoco/mujoco_a2c_hl.py
  examples/mujoco/mujoco_ddpg_hl.py
  examples/mujoco/mujoco_npg_hl.py
  examples/mujoco/mujoco_ppo_hl.py
  examples/mujoco/mujoco_redq_hl.py
  examples/mujoco/mujoco_reinforce_hl.py
  examples/mujoco/mujoco_sac_hl.py
  examples/mujoco/mujoco_td3_hl.py
  examples/mujoco/mujoco_trpo_hl.py
  poetry.lock
  pyproject.toml
  tianshou/__init__.py
  tianshou/highlevel/agent.py
  tianshou/highlevel/config.py
  tianshou/highlevel/env.py
  tianshou/highlevel/experiment.py
  tianshou/highlevel/logger.py
  tianshou/highlevel/module/actor.py
  tianshou/highlevel/module/critic.py
  tianshou/highlevel/module/intermediate.py
  tianshou/highlevel/module/special.py
  tianshou/highlevel/optim.py
  tianshou/highlevel/params/alpha.py
  tianshou/highlevel/params/dist_fn.py
  tianshou/highlevel/params/env_param.py
  tianshou/highlevel/params/lr_scheduler.py
  tianshou/highlevel/params/noise.py
  tianshou/highlevel/params/policy_params.py
  tianshou/highlevel/params/policy_wrapper.py
  tianshou/highlevel/trainer.py
  tianshou/utils/logging.py
  tianshou/utils/string.py
Due: ruff, black, mypy

Fix index error in call to _with_critic_factory_default
  tianshou/highlevel/experiment.py
Due: ruff, black, mypy

Rename class ActorCriticModuleOpt -> ActorCriticOpt
  tianshou/highlevel/agent.py
  tianshou/highlevel/module/module_opt.py
Due: ruff, black, mypy

Add docstring for ActorFactoryTransientStorageDecorator
  tianshou/highlevel/module/actor.py
Due: ruff, black, mypy

Revert "Depend on sensAI instead of copying its utils (logging, string)"
  .gitignore
  examples/atari/atari_dqn_hl.py
  examples/atari/atari_iqn_hl.py
  examples/atari/atari_ppo_hl.py
  examples/atari/atari_sac_hl.py
  examples/mujoco/mujoco_a2c_hl.py
  examples/mujoco/mujoco_ddpg_hl.py
  examples/mujoco/mujoco_npg_hl.py
  examples/mujoco/mujoco_ppo_hl.py
  examples/mujoco/mujoco_redq_hl.py
  examples/mujoco/mujoco_reinforce_hl.py
  examples/mujoco/mujoco_sac_hl.py
  examples/mujoco/mujoco_td3_hl.py
  examples/mujoco/mujoco_trpo_hl.py
  poetry.lock
  pyproject.toml
  tianshou/__init__.py
  tianshou/highlevel/agent.py
  tianshou/highlevel/config.py
  tianshou/highlevel/env.py
  tianshou/highlevel/experiment.py
  tianshou/highlevel/logger.py
  tianshou/highlevel/module/actor.py
  tianshou/highlevel/module/critic.py
  tianshou/highlevel/module/intermediate.py
  tianshou/highlevel/module/special.py
  tianshou/highlevel/optim.py
  tianshou/highlevel/params/alpha.py
  tianshou/highlevel/params/dist_fn.py
  tianshou/highlevel/params/env_param.py
  tianshou/highlevel/params/lr_scheduler.py
  tianshou/highlevel/params/noise.py
  tianshou/highlevel/params/policy_params.py
  tianshou/highlevel/params/policy_wrapper.py
  tianshou/highlevel/trainer.py
  tianshou/utils/logging.py
  tianshou/utils/string.py
Due: ruff, black, mypy

add dataclasses for collector, epoch, and test statistics
  tianshou/data/stats.py
Due: ruff, black, mypy

add dataclasses for collector, epoch, and test statistics
  tianshou/data/__init__.py
Due: ruff, black, mypy

collectors' collect method returns CollectorStats
  tianshou/data/collector.py
Due: ruff, black, mypy

function test_episode returns CollectorStats
  tianshou/trainer/utils.py
Due: ruff, black, mypy

BaseLogger methods take CollectorStats
  tianshou/utils/logger/base.py
Due: ruff, black, mypy

Change policy forward interface: removed support for 'input' kwarg
  examples/vizdoom/env.py
  tianshou/data/types.py
  tianshou/policy/base.py
  tianshou/policy/imitation/base.py
  tianshou/policy/imitation/bcq.py
  tianshou/policy/imitation/discrete_bcq.py
  tianshou/policy/modelbased/icm.py
  tianshou/policy/modelbased/psrl.py
  tianshou/policy/modelfree/bdq.py
  tianshou/policy/modelfree/c51.py
  tianshou/policy/modelfree/ddpg.py
  tianshou/policy/modelfree/discrete_sac.py
  tianshou/policy/modelfree/dqn.py
  tianshou/policy/modelfree/fqf.py
  tianshou/policy/modelfree/iqn.py
  tianshou/policy/modelfree/pg.py
  tianshou/policy/modelfree/qrdqn.py
  tianshou/policy/modelfree/redq.py
  tianshou/policy/modelfree/sac.py
  tianshou/policy/modelfree/td3.py
  tianshou/policy/random.py
Due: ruff, black, mypy

Fix: LambdaLR instance generated from LRSchedulerFactoryLinear resulted in non-picklable policy object
  tianshou/highlevel/params/lr_scheduler.py
Due: ruff, black, mypy

Improve docstrings of PolicyPersistence.Mode enum
  tianshou/highlevel/persistence.py
Due: ruff, black, mypy

Add 'picklable' to dictionary
  docs/spelling_wordlist.txt
Due: none

fix test
  test/offline/test_cql.py
Due: ruff, black

Fix an issue where policies built with LRSchedulerFactoryLinear were not picklable (#992)
  docs/spelling_wordlist.txt
  test/offline/test_cql.py
  tianshou/highlevel/params/lr_scheduler.py
  tianshou/highlevel/persistence.py
Due: ruff, black, mypy

Support batch_size=None and use it in various scripts
  examples/mujoco/mujoco_a2c.py
  examples/mujoco/mujoco_a2c_hl.py
  examples/mujoco/mujoco_npg.py
  examples/mujoco/mujoco_npg_hl.py
  examples/mujoco/mujoco_reinforce.py
  examples/mujoco/mujoco_reinforce_hl.py
  examples/mujoco/mujoco_trpo.py
  examples/mujoco/mujoco_trpo_hl.py
  tianshou/data/buffer/base.py
  tianshou/data/buffer/her.py
  tianshou/data/buffer/manager.py
  tianshou/data/buffer/prio.py
  tianshou/policy/base.py
  tianshou/policy/imitation/gail.py
  tianshou/policy/modelfree/a2c.py
  tianshou/policy/modelfree/npg.py
  tianshou/policy/modelfree/pg.py
  tianshou/policy/modelfree/ppo.py
  tianshou/policy/modelfree/trpo.py
  tianshou/trainer/base.py
Due: ruff, black, mypy

Path conditions:
  ruff: any of: \.py$
  black: any of: \.py$
  mypy: any of: ^tianshou(/[^/]*)*/[^/]*\.py$
