Repository thu-ml/tianshou: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, mypy

.pre-commit-config.yaml:

default_install_hook_types: [commit-msg, pre-commit]
default_stages: [commit, manual]
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff
        args: ["--extend-fixable=F401,F841", "--fix-only"]
        require_serial: true
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        require_serial: true
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: mypy
        # filenames should not be passed as they would collide with the config in pyproject.toml
        pass_filenames: false
        files: '^tianshou(/[^/]*)*/[^/]*\.py$'
        language: system

Add git-action to compile notebooks
  .github/workflows/notebooks.yml
Due: none

Move notebooks to doc and resolve spellcheck
  .github/workflows/notebooks.yml
  .gitignore
  .pre-commit-config.yaml
  docs/notebooks/L0_overview.ipynb
  docs/notebooks/L1_Batch.ipynb
  docs/notebooks/L2_Buffer.ipynb
  docs/notebooks/L3_Vectorized__Environment.ipynb
  docs/notebooks/L4_Policy.ipynb
  docs/notebooks/L5_Collector.ipynb
  docs/notebooks/L6_Trainer.ipynb
  docs/notebooks/L7_Experiment.ipynb
  docs/notebooks/_config.yml
  docs/notebooks/_static/images/tianshou-logo.png
  docs/notebooks/_toc.yml
  docs/notebooks/intro.md
  docs/spelling_wordlist.txt
Due: none

Fix .readthedocs.yaml
  .readthedocs.yaml
Due: none

Fix docs index
  docs/index.rst
Due: none

Fix action gh-pages
  .github/workflows/notebooks.yml
Due: none

Fix docs/requirements.txt
  docs/requirements.txt
Due: none

Fix RTD and gh-pages docu auto-generation
  .github/workflows/notebooks.yml
  .readthedocs.yaml
Due: none

Fix readthedocs to install poetry
  .readthedocs.yaml
Due: none

Fix docs/requirements.txt
  .readthedocs.yaml
  docs/requirements.txt
Due: none

Remove autogenerated docs/api/highllevel
  docs/api/tianshou.highlevel/agent.rst
  docs/api/tianshou.highlevel/config.rst
  docs/api/tianshou.highlevel/env.rst
  docs/api/tianshou.highlevel/experiment.rst
  docs/api/tianshou.highlevel/index.rst
  docs/api/tianshou.highlevel/logger.rst
  docs/api/tianshou.highlevel/module.rst
  docs/api/tianshou.highlevel/module/actor.rst
  docs/api/tianshou.highlevel/module/core.rst
  docs/api/tianshou.highlevel/module/critic.rst
  docs/api/tianshou.highlevel/module/intermediate.rst
  docs/api/tianshou.highlevel/module/module_opt.rst
  docs/api/tianshou.highlevel/module/special.rst
  docs/api/tianshou.highlevel/optim.rst
  docs/api/tianshou.highlevel/params.rst
  docs/api/tianshou.highlevel/params/alpha.rst
  docs/api/tianshou.highlevel/params/dist_fn.rst
  docs/api/tianshou.highlevel/params/env_param.rst
  docs/api/tianshou.highlevel/params/lr_scheduler.rst
  docs/api/tianshou.highlevel/params/noise.rst
  docs/api/tianshou.highlevel/params/policy_params.rst
  docs/api/tianshou.highlevel/params/policy_wrapper.rst
  docs/api/tianshou.highlevel/persistence.rst
  docs/api/tianshou.highlevel/trainer.rst
  docs/api/tianshou.highlevel/world.rst
Due: none

Add autogenerated api to gitignore
  docs/.gitignore
Due: none

Removed action for gh-pages
  .github/workflows/notebooks.yml
Due: none

update docs/.gitignore
  docs/.gitignore
Due: none

Update Documentation building
  .readthedocs.yaml
  docs/_config.yml
  docs/spelling_wordlist.txt
  poetry.lock
  pyproject.toml
Due: none

Moved all docs images in docs/_static
  docs/_static/images/policy_table.png
  docs/_static/images/pseudocode_off_policy.png
  docs/_static/images/structure.png
  docs/_static/images/timelimit.png
  docs/notebooks/L0_overview.ipynb
  docs/notebooks/L4_Policy.ipynb
  docs/notebooks/L5_Collector.ipynb
  docs/notebooks/L6_Trainer.ipynb
  docs/notebooks/L7_Experiment.ipynb
  docs/notebooks/_static/images/tianshou-logo.png
Due: none

Update .readthedocs.yaml
  .readthedocs.yaml
Due: none

Add launch button for notebooks in colab
  docs/_config.yml
Due: none

Replaced .png images with .svg where possible
  docs/_static/images/policy_table.png
  docs/_static/images/policy_table.svg
  docs/_static/images/pseudocode_off_policy.png
  docs/_static/images/pseudocode_off_policy.svg
  docs/_static/images/structure.png
  docs/_static/images/structure.svg
  docs/_static/images/timelimit.png
  docs/_static/images/timelimit.svg
  docs/notebooks/L4_Policy.ipynb
  docs/notebooks/L5_Collector.ipynb
  docs/notebooks/L6_Trainer.ipynb
Due: none

Remove get_started.rst page with links to outdated notebooks
  docs/_toc.yml
  docs/index.rst
  docs/tutorials/get_started.rst
Due: none

Compressed .png and .jpg images
  docs/_static/images/action1.jpg
  docs/_static/images/action2.jpg
  docs/_static/images/action3.png
  docs/_static/images/aggregation.png
  docs/_static/images/async.png
  docs/_static/images/batch_reserve.png
  docs/_static/images/batch_tree.png
  docs/_static/images/concepts_arch.png
  docs/_static/images/concepts_arch2.png
  docs/_static/images/marl.png
  docs/_static/images/pipeline.png
  docs/_static/images/tianshou-logo.png
  docs/_static/images/tic-tac-toe.png
Due: none

revert .readthedocs.yaml
  .readthedocs.yaml
Due: none

Update .readthe
  .readthedocs.yaml
Due: none

WIP - restructure doc files
  docs/autogen_rst.py
  docs/index.rst
  docs/notebooks/0_intro.md
  docs/tutorials/00_dqn.rst
  docs/tutorials/01_concepts.rst
  docs/tutorials/03_batch.rst
  docs/tutorials/04_tictactoe.rst
  docs/tutorials/05_logger.rst
  docs/tutorials/06_benchmark.rst
  docs/tutorials/07_cheatsheet.rst
Due: ruff, black

WIP - restructure doc files
  docs/.gitignore
  docs/_config.yml
  docs/_toc.yml
  docs/autogen_rst.py
  docs/index.rst
  poetry.lock
  pyproject.toml
Due: ruff, black

Docs: removed conflicting sphinx stuff from a docstring
  tianshou/utils/string.py
Due: ruff, black, mypy

Docs: generate all api docs automatically
  docs/.gitignore
  docs/_config.yml
  docs/_toc.yml
  docs/autogen_rst.py
  docs/contributor.rst
  docs/index.rst
  docs/notebooks/0_intro.md
  docs/tutorials/00_dqn.rst
  docs/tutorials/01_concepts.rst
  docs/tutorials/07_cheatsheet.rst
  docs/tutorials/index.rst
  pyproject.toml
  tianshou/data/buffer/base.py
Due: ruff, black, mypy

Docs: removed capitalization
  docs/autogen_rst.py
Due: ruff, black

Docs: added links to source code, readded some ruff ignore rules
  docs/_config.yml
  poetry.lock
  pyproject.toml
Due: none

Docstring: minor changes to let ruff pass
  docs/autogen_rst.py
  tianshou/data/buffer/base.py
  tianshou/highlevel/env.py
  tianshou/highlevel/experiment.py
  tianshou/highlevel/logger.py
  tianshou/highlevel/module/actor.py
  tianshou/highlevel/optim.py
  tianshou/highlevel/params/noise.py
  tianshou/highlevel/params/policy_params.py
  tianshou/highlevel/persistence.py
  tianshou/highlevel/trainer.py
  tianshou/policy/base.py
  tianshou/utils/string.py
Due: ruff, black, mypy

Docs: added sorting order for autogenerated toc
  docs/.gitignore
  docs/01_tutorials/00_dqn.rst
  docs/01_tutorials/01_concepts.rst
  docs/01_tutorials/03_batch.rst
  docs/01_tutorials/04_tictactoe.rst
  docs/01_tutorials/05_logger.rst
  docs/01_tutorials/06_benchmark.rst
  docs/01_tutorials/07_cheatsheet.rst
  docs/01_tutorials/index.rst
  docs/02_notebooks/0_intro.md
  docs/02_notebooks/L0_overview.ipynb
  docs/02_notebooks/L1_Batch.ipynb
  docs/02_notebooks/L2_Buffer.ipynb
  docs/02_notebooks/L3_Vectorized__Environment.ipynb
  docs/02_notebooks/L4_Policy.ipynb
  docs/02_notebooks/L5_Collector.ipynb
  docs/02_notebooks/L6_Trainer.ipynb
  docs/02_notebooks/L7_Experiment.ipynb
  docs/04_contributing/04_contributing.rst
  docs/04_contributing/05_contributor.rst
  docs/index.rst
Due: none

Typing: fixed multiple typing issues
  tianshou/data/collector.py
  tianshou/env/worker/subproc.py
  tianshou/highlevel/module/actor.py
  tianshou/policy/modelbased/icm.py
  tianshou/policy/modelfree/bdq.py
  tianshou/policy/modelfree/ddpg.py
  tianshou/policy/modelfree/pg.py
  tianshou/utils/logging.py
  tianshou/utils/net/discrete.py
  tianshou/utils/string.py
Due: ruff, black, mypy

Docs: fixing spelling, re-adding spellcheck to pipeline
  docs/02_notebooks/L3_Vectorized__Environment.ipynb
  docs/_config.yml
  docs/spelling_wordlist.txt
  pyproject.toml
  tianshou/data/batch.py
  tianshou/utils/string.py
Due: ruff, black, mypy

Fix rtd build
  .readthedocs.yaml
  poetry.lock
  pyproject.toml
Due: none

Fix rtd build, improvements in task running
  .readthedocs.yaml
  docs/_config.yml
  docs/create_toc.py
  docs/nbstripout.py
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: ruff, black
