Repository thu-ml/tianshou: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, mypy

.pre-commit-config.yaml:

default_install_hook_types: [commit-msg, pre-commit]
default_stages: [commit, manual]
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff
        args: ["--extend-fixable=F401,F841", "--fix-only"]
        require_serial: true
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        require_serial: true
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: mypy
        # filenames should not be passed as they would collide with the config in pyproject.toml
        pass_filenames: false
        files: '^tianshou(/[^/]*)*/[^/]*\.py$'
        language: system

Enable ruff setting ignore-init-module-imports
  pyproject.toml
Due: none

Add SAC high-level interface
  examples/mujoco/mujoco_env.py
  examples/mujoco/mujoco_ppo_cfg.py
  examples/mujoco/mujoco_sac_hl.py
  pyproject.toml
  tianshou/config/__init__.py
  tianshou/config/config.py
  tianshou/config/utils.py
  tianshou/highlevel/agent.py
  tianshou/highlevel/env.py
  tianshou/highlevel/experiment.py
  tianshou/highlevel/logger.py
  tianshou/highlevel/module.py
  tianshou/highlevel/optim.py
Due: ruff, black, mypy

Refactoring, dropping package config
  examples/mujoco/mujoco_env.py
  examples/mujoco/mujoco_ppo_hl.py
  examples/mujoco/mujoco_sac_hl.py
  tianshou/config/__init__.py
  tianshou/config/config.py
  tianshou/highlevel/__init__.py
  tianshou/highlevel/agent.py
  tianshou/highlevel/experiment.py
  tianshou/highlevel/logger.py
  tianshou/highlevel/module.py
  tianshou/highlevel/optim.py
  tianshou/highlevel/utils.py
Due: ruff, black, mypy

Remove LoggerConfig
  examples/mujoco/mujoco_ppo_hl.py
  examples/mujoco/mujoco_sac_hl.py
  tianshou/highlevel/logger.py
Due: ruff, black, mypy

Use experiment-specific config in mujoco_sac_hl, adding auto-alpha
  examples/mujoco/mujoco_sac_hl.py
  tianshou/highlevel/agent.py
  tianshou/highlevel/experiment.py
  tianshou/highlevel/logger.py
Due: ruff, black, mypy

Move RLSamplingConfig to separate module config, fixing cyclic import
  examples/mujoco/mujoco_env.py
  examples/mujoco/mujoco_ppo_hl.py
  examples/mujoco/mujoco_sac_hl.py
  tianshou/highlevel/agent.py
  tianshou/highlevel/config.py
  tianshou/highlevel/experiment.py
  tianshou/highlevel/optim.py
Due: ruff, black, mypy

Unify PPO configuration objects, use experiment-specific configuration in mujoco_ppo_hl
  examples/mujoco/mujoco_env.py
  examples/mujoco/mujoco_ppo_hl.py
  examples/mujoco/mujoco_sac_hl.py
  tianshou/highlevel/agent.py
Due: ruff, black, mypy

Ignore Ruff rule RET505, because it sacrifices visual discernability of control flow paths for brevity (regarding return statements)
  pyproject.toml
Due: none

Dependencies: allow gymnasium>=0.28
  poetry.lock
  pyproject.toml
Due: none

Readme: updates in alerts, added aAI to acknowledgments
  README.md
Due: none

Fixed torch dep, added section in readme
  README.md
  poetry.lock
  pyproject.toml
Due: none

Minor dep update (#961)
  README.md
  poetry.lock
  pyproject.toml
Due: none

Update mujoco_sac.py
  examples/mujoco/mujoco_sac.py
Due: ruff, black

Bug in bcq_discrete fixed.
  tianshou/policy/imitation/discrete_bcq.py
Due: ruff, black, mypy

Bug in bcq_discrete fixed by replacing np.inf by the max float number.
  tianshou/policy/imitation/discrete_bcq.py
Due: ruff, black, mypy

Fixed the mapolicy train issue
  tianshou/policy/multiagent/mapolicy.py
Due: ruff, black, mypy

Update tianshou/policy/multiagent/mapolicy.py
  tianshou/policy/multiagent/mapolicy.py
Due: ruff, black, mypy

fix lint
  tianshou/policy/multiagent/mapolicy.py
Due: ruff, black, mypy

Fixed the mapolicy train issue (#968)
  tianshou/policy/multiagent/mapolicy.py
Due: ruff, black, mypy

Add high-level experiment builder interface
  examples/mujoco/mujoco_ppo_hl.py
  examples/mujoco/mujoco_sac_hl.py
  tianshou/highlevel/agent.py
  tianshou/highlevel/env.py
  tianshou/highlevel/experiment.py
  tianshou/highlevel/module.py
  tianshou/highlevel/optim.py
Due: ruff, black, mypy

Add DQN support in high-level API
  examples/atari/atari_dqn_hl.py
  examples/atari/atari_network.py
  examples/atari/atari_ppo_hl.py
  examples/atari/atari_wrapper.py
  tianshou/highlevel/agent.py
  tianshou/highlevel/config.py
  tianshou/highlevel/experiment.py
  tianshou/highlevel/module/core.py
  tianshou/highlevel/params/policy_params.py
  tianshou/highlevel/trainer.py
Due: ruff, black, mypy

Add DDPG high-level API and MuJoCo example
  examples/atari/atari_network.py
  examples/mujoco/mujoco_ddpg_hl.py
  tianshou/highlevel/agent.py
  tianshou/highlevel/config.py
  tianshou/highlevel/experiment.py
  tianshou/highlevel/params/policy_params.py
  tianshou/highlevel/params/policy_wrapper.py
Due: ruff, black, mypy

Add ToStringMixin to further high-level parameter classes
  tianshou/highlevel/module/core.py
  tianshou/highlevel/params/alpha.py
  tianshou/highlevel/params/dist_fn.py
  tianshou/highlevel/params/env_param.py
  tianshou/highlevel/params/lr_scheduler.py
  tianshou/highlevel/params/noise.py
  tianshou/highlevel/params/policy_wrapper.py
Due: ruff, black, mypy

Improve high-level policy parametrisation
  examples/mujoco/mujoco_ppo_hl.py
  examples/mujoco/mujoco_sac_hl.py
  tianshou/highlevel/agent.py
  tianshou/highlevel/env.py
  tianshou/highlevel/experiment.py
  tianshou/highlevel/module.py
  tianshou/highlevel/optim.py
  tianshou/highlevel/params/__init__.py
  tianshou/highlevel/params/alpha.py
  tianshou/highlevel/params/lr_scheduler.py
  tianshou/highlevel/params/policy_params.py
Due: ruff, black, mypy

Disable Ruff rule D205 (blank-line-after-summary) because it disallows, in particular, class docstrings that consist only of a summary line
  pyproject.toml
Due: none

Add some basic tests for high-level experiment builder API
  test/highlevel/env_factory.py
  test/highlevel/test_continuous.py
  test/highlevel/test_discrete.py
Due: ruff, black

Add logging module
  tianshou/utils/logging.py
Due: ruff, black, mypy

WandbLogger: Use less restrictive type annotation for config
  tianshou/utils/logger/wandb.py
Due: ruff, black, mypy

Add support for discrete PPO
  examples/atari/atari_network.py
  examples/atari/atari_ppo_hl.py
  examples/atari/atari_wrapper.py
  tianshou/highlevel/agent.py
  tianshou/highlevel/config.py
  tianshou/highlevel/env.py
  tianshou/highlevel/experiment.py
  tianshou/highlevel/module.py
  tianshou/highlevel/module/__init__.py
  tianshou/highlevel/module/actor.py
  tianshou/highlevel/module/core.py
  tianshou/highlevel/module/critic.py
  tianshou/highlevel/module/module_opt.py
  tianshou/highlevel/params/alpha.py
  tianshou/highlevel/params/policy_params.py
  tianshou/highlevel/params/policy_wrapper.py
Due: ruff, black, mypy

Adapt class naming scheme
  examples/mujoco/mujoco_ppo_hl.py
  examples/mujoco/mujoco_sac_hl.py
  examples/mujoco/mujoco_td3_hl.py
  tianshou/highlevel/experiment.py
  tianshou/highlevel/module.py
  tianshou/highlevel/optim.py
  tianshou/highlevel/params/alpha.py
  tianshou/highlevel/params/env_param.py
  tianshou/highlevel/params/lr_scheduler.py
  tianshou/highlevel/params/noise.py
  tianshou/highlevel/params/policy_params.py
Due: ruff, black, mypy

Disable numba DEBUG logs
  tianshou/utils/logging.py
Due: ruff, black, mypy

Log full experiment configuration, adding string representations to relevant classes
  examples/atari/atari_ppo_hl.py
  examples/mujoco/mujoco_a2c_hl.py
  examples/mujoco/mujoco_ddpg_hl.py
  examples/mujoco/mujoco_ppo_hl.py
  examples/mujoco/mujoco_sac_hl.py
  examples/mujoco/mujoco_td3_hl.py
  tianshou/highlevel/agent.py
  tianshou/highlevel/experiment.py
  tianshou/highlevel/logger.py
  tianshou/highlevel/module/actor.py
  tianshou/highlevel/module/critic.py
  tianshou/highlevel/module/module_opt.py
  tianshou/highlevel/optim.py
Due: ruff, black, mypy

Remove parameter transformers from config object state, composing the list dynamically instead
  tianshou/highlevel/params/policy_params.py
Due: ruff, black, mypy

Change high-level DQN interface to expect an actor instead of a critic, because that is what is functionally required
  examples/atari/atari_dqn_hl.py
  examples/atari/atari_network.py
  examples/atari/atari_ppo_hl.py
  tianshou/highlevel/agent.py
  tianshou/highlevel/experiment.py
  tianshou/highlevel/module/actor.py
  tianshou/highlevel/module/critic.py
Due: ruff, black, mypy

Add A2C high-level API
  examples/mujoco/mujoco_a2c_hl.py
  tianshou/highlevel/agent.py
  tianshou/highlevel/experiment.py
  tianshou/highlevel/optim.py
  tianshou/highlevel/params/dist_fn.py
  tianshou/highlevel/params/policy_params.py
Due: ruff, black, mypy

Handle ruff complaints in string module
  pyproject.toml
  tianshou/utils/string.py
Due: ruff, black, mypy

Move parameter transformation directly into parameter objects, achieving greater separation of concerns and improved maintainability
  tianshou/highlevel/agent.py
  tianshou/highlevel/params/policy_params.py
Due: ruff, black, mypy

Add string module from sensAI
  tianshou/utils/string.py
Due: ruff, black, mypy

Add base class BaseActor with method get_preprocess_net for high-level API
  tianshou/utils/net/common.py
  tianshou/utils/net/continuous.py
  tianshou/utils/net/discrete.py
Due: ruff, black, mypy
